html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    color: $dark-blue-colour;
    font-family: $primary-font-family
}

.container {
    max-width: 1312px;
    margin: 0 auto;
    position: relative;
    padding: 0 32px ;
}


h1, .heading-1 {
    font-family: $secondary-font-family;
    font-size: 6rem; // 96px
    font-weight: bold;
}

h2, .heading-2 {
    font-family: $primary-font-family;
    font-size: 4.5rem; // 72px
    font-weight: regular;
}

h3, .heading-3 {
    font-family: $primary-font-family;
    font-size: 3rem; // 48px
    font-weight: regular;
}

h4, .heading-4 {
    font-family: $primary-font-family;
    font-size: 1.25rem; // 20px
    font-weight: regular;
}


.text-white {
    color: #FCFCFC;
}

.text-muted {
    color: #696969;
}

.text-center {
    text-align: center;
}

p, .body-1 {
    font-size: 1.25rem; // 16px
    color: $tundora-colour;
}

.logo {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}


.main-header {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    z-index: 10;

    &.sticky {
        position: sticky;
        top: 64px;
    }

    &.fixed {
        position: fixed;
        top: 0;
        width: 100%;
    }
}

.footer {
    border-top: 2px solid #3D405B;
    background-color: inherit;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;


    &__bg-white {
        background-color: white;
    }

    &__content {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 32px;
    }

    &__link {
        font-size: 24px;
        color: $dark-blue-colour;
        text-decoration: none;

        i {
            background-color: $dark-blue-colour;
            &:hover {
                background-color: $terracota-colour;
            }
        }

        &:hover {
            text-decoration: underline;
            color: $terracota-colour;
        }
    }
}

.diagonal-nav {
    position: fixed;
    bottom: -180px;
    right: -280px;
    z-index: 11;
    width: 630px;
    transform: rotate(-45deg);
    min-height: 400px;
    background-color: $dark-blue-colour;
    ul {
        width: 100%;
    }

    li {
       width: inherit;
       a {
            padding: 16px;
            display: block;
            text-decoration: none;
            color: white;
            text-align: center;
       } 
    }
}

.burger-menu {
    display: none;
    position: fixed;
    top: 80px;
    right: 32px;
    z-index: 11;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease-in-out;
    transform: rotate(0deg);
    transform-origin: center;

    &__line {
        display: block;
        width: 100%;
        height: 4px;
        background-color: $dark-blue-colour;
        margin-bottom: 8px;
    }

    .burger-menu__line {
        width: 40px;
        height: 4px;
        background-color: gray;
        margin: 4px;
        transition: all 0.3s ease-in-out;
        &:nth-child(1) {
            transform: rotate(0deg) translate(0, 0);
        }
        &:nth-child(2) {
            transform: rotate(0deg) translate(0, 0);
        }
        &:nth-child(3) {
            transform: rotate(0deg) translate(0, 0);
        }
    }
}


.dark-blue-bg {
    background-color: $dark-blue-colour;
    &:hover {
        background-color: #585d84;
    }
}

.green-bg {
    background-color: $acapulco-colour;
    &:hover {
        background-color: #8cb9a3;
    }
}

.orange-bg {
    background-color: $terracota-colour;
    &:hover {
        background-color: #e48b74;
    }
}

.content {
    min-height: calc(100vh - 120px - 64px - 80px);
    padding-bottom: 80px;
    height: 100%;
}

.icon {
    height: 24px;
    width: 24px;
    content: ' ';

    &__large {
        height: 48px;
        width: 48px;
    }
    &__close {
        background: url('/img/close.svg');
        background-size: cover;
        background-position: center;
    }
}

.sub-title {
    font-size: 1.5rem; // 24px
    font-weight: bold;
    color: $dark-blue-colour;
    margin-bottom: 32px;
}


// Grid layout
.row { @include grid; }
.col-1 { @include col(1); }
.col-2 { @include col(2); }
.col-3 { @include col(3); }
.col-4 { @include col(4); }
.col-5 { @include col(5); }
.col-6 { @include col(6); }
.col-7 { @include col(7); }
.col-8 { @include col(8); }
.col-9 { @include col(9); }
.col-10 { @include col(10); }
.col-11 { @include col(11); }
.col-12 { @include col(12); }

.align-center {
    align-items: center;
}

.d-flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}


.no-scroll {
    overflow: hidden;
    @include responsive(phone) {
        overflow: auto;
        overflow-x: hidden;
    }
}


@include responsive(desktop) {
    h1, .heading-1 {
        font-size: 5rem; // 96px
    }

    h2, .heading-2 {
        font-size: 4rem; // 72px
    }

    h3, .heading-3 {
        font-size: 3rem; // 48px
    }

    h4, .heading-4 {
        font-size: 1.25rem; // 20px
    }
}
@include responsive(tablet) {
    h1, .heading-1 {
        font-size: 4.5rem; // 80px
    }

    h2, .heading-2 {
        font-size: 3.5rem; // 56px
    }

    h3, .heading-3 {
        font-size: 2rem; // 40px
    }

    h4, .heading-4 {
        font-size: 1.2rem; // 18px
    }

    .diagonal-nav {
        top: 32px;
        bottom: unset;
        right: unset;
        transform: none;
        background: transparent;
        min-height: auto;

        .burger-menu {
            display: block;
        }

        ul {
            display: none;
        }
    }

    .main-header {
        .header__content {
            display: none;
        }

        img {
            height: 80px;
        }
    }

    .footer {
        height: 64px;

        &__link {
            font-size: 20px;
        }
    }

    nav.open {
        width: 100vw;
        height: 100vh;
        top: 0px;
        .burger-menu {
            transform: rotate(90deg);
            &__line {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(7px, 10px);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(1px, -5px);
                }
            }
        }
    
        .links {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            z-index: 9;
            gap: 32px;
            transition: all 0.3s ease-in-out;

            li {
                width: 100%;
                text-align: center;
            }
        }
    }
}

@include responsive(phone) {
    h1, .heading-1 {
        font-size: 4rem; // 64px
    }

    h2, .heading-2 {
        font-size: 3rem; // 48px
    }

    h3, .heading-3 {
        font-size: 2rem; // 32px
    }

    h4, .heading-4 {
        font-size: 1rem; // 16px
    }
}

@include responsive(sphone) {
    h1, .heading-1 {
        font-size: 2.5rem; // 64px
    }

    h2, .heading-2 {
        font-size: 2rem; // 48px
    }

    h3, .heading-3 {
        font-size: 1.5rem; // 32px
    }

    h4, .heading-4 {
        font-size: 1rem; // 16px
    }
}
