$primary-font-family: 'Aldrich', sans-serif;
$secondary-font-family: 'Asap', sans-serif;

// Colour pallete
$terracota-colour: #e07a5f;
$manhatan-colour: #f2cc8f;
$acapulco-colour: #81b29a;
$dark-blue-colour: #3d405b;
$merino-colour: #f4f1de;
$tundora-colour: #454545;
$secondary-black: #696969;
$light-gray: #b4b4b4;