@import "../main.scss";

.about {
    background-color: $acapulco-colour;
    color: #FCFCFC;

    .logo {
        background: inherit;
    }
}

.content {
    min-height: auto;
}

#about-me {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 32px;



    p {
        max-width: 880px;
        line-height: 32px;
    }

    .hobbies {
        display: flex;
        gap: 16px;
        align-items: center;
    }
}