@import "../main.scss";

.home::before {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: -64px;
    content: ' ';
    opacity: 0.2;
    background: 10% / auto repeat url("/img/background.svg");
}

.home {
    background-color: #FCFCFC;
}

aside {
    position: fixed;
    right: 64px;
}

.scroll-menu-wrapper {
    display: flex;
    justify-content: flex-end;
}

.scroll-menu {
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: fixed;
    margin-left: auto;
    top: 50%;
    transform: translateY(-50%);
    right: calc((100vw - 1312px) / 2 );

    &__item {
        content: '';
        width: 60px;
        height: 60px;
        border: 4px solid $dark-blue-colour;
        border-radius: 50%;
        position: relative;
        cursor: pointer;

        a {
            height: 100%;
            width: 100%;
            display: inline-block;
        }

        &.active::after {
            position: absolute;
            width: 80%;
            height: 80%;
            content: '';
            background-color: $dark-blue-colour;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
}

#fullpage > * {
    padding-top: 250px;
    padding-bottom: 80px;
    justify-content: start;
}


#home {
    justify-content: start;
    .fp-overflow {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
    h2 {
        align-self: flex-end;
        text-align: right;
        margin-top: 32px;
    }

    figure {
        overflow: hidden;
        width: 220px;
        height: 220px;
        border-radius: 1rem;
        img {
            object-fit: cover;
            height: inherit;
            width: inherit;
            object-position: center 33%;
        }
    }

    @include responsive(phone) {
        figure {
            width: 300px;
            height: 300px;
        }
    }

    @include responsive(tablet) {
        flex-direction: row;
        justify-content: space-between;
        gap: 32px;
        figure {
            width: 300px;
            height: 300px;
        }
    }
}

#links {
    .fp-overflow {
        display: flex;
        flex-direction: column;
        gap: 64px;
        overflow: visible;
    }

    .subtitle-wrapper {
        display: flex;
        justify-content: center;
        * {
            max-width: 600px;
        }
    }

    .links {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 48px;
    }


    .project-link {
        width: 180px;
        height: 200px;
        background-color: white;
        box-shadow: 0px 1px 2px rgba($color: #000000, $alpha: 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        border-radius: 16px;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        &__image {
            margin-top: 20px;
            height: 100px;
        }

        &__title {
            margin-top: auto;
            flex-grow: 0;
        }
    }
 
}

#contact {

    gap: 16px;
    height: 100%;

    .fp-overflow {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .contact {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        gap: 80px;
        &__title {
            max-width: 350px;
        }
    }
    
    .indicator {
        margin-top: auto;
        padding-bottom: 16px;
        display: flex;
        gap: 8px
    }
}


// Form styles

.form-control {
    .input-label {
        display: block;
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }

    .input-field {
        width: 100%;
        border: 2px solid $light-gray;
        border-radius: 8px;
        padding: 16px 24px 12px 24px;
        font-size: 1.25rem;
        color: $tundora-colour;
        outline: none;
        transition: border-color 0.2s ease-in-out;

        &:focus {
            border-color: $dark-blue-colour;
        }
    }

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}

.form-actions {
    display: flex;
    justify-content: center;
}

.button {
    @extend .heading-4;
    padding: 16px 24px;

    &-primary {
        // primary button using $acapulco-colour
        background-color: $acapulco-colour;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: darken($acapulco-colour, 10%);
        }
    }
}