@import "../main.scss";

#project {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 180px;
    min-height: calc(100vh - 120px - 64px - 80px - 128px);
}

.header__content {
    display: initial !important;
    align-self: self-start !important;
    margin-top: 20px;
}

.content {
    padding-right: 0;
}

.main-header {
    justify-content: flex-start;  
}

.header__content {
    margin-left: auto;
    align-self: center;
}

p {
    line-height: 1.5;
}

.project-logo {
    max-height: 64px;
    margin-bottom: 32px;
}

.page_title {
    margin-top: 16px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.d-block {
    display: block;
}

.mt-1 {
    margin-top: 16px;
}

.images-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    img {
        max-width: 192px;
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 16px;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
    }
}

.custom-link {
    font-size: 1.5rem;
}

.responsive-image {
    width: 100%;
}

.images-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.f-col {
    flex-direction: column;
    align-items: center;
}

.app-icon > img {
    height: 120px;
    width: 120px;
}

.app-logo > img {
    height: 120px;
}

.f-align-top {
    align-items: flex-start;
}

.palette {
    display: flex;
    gap: 16px;
    margin-top: 32px;
    flex-wrap: wrap;

    .color-palette-item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        justify-content: center;
        padding: 16px 0;
        border-radius: 16px;
        background-color: white;
        width: 200px;
        height: 100px;

        .color-group {
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            span {
                width: 100%;
                height: 100%;
                border-radius: 16px;
            }
        }
    }
}


@include responsive(tablet) {
    .row {
        flex-direction: column;
        > * {
            flex: 1;
            max-width: 100%;
        }
    }
}

@include responsive(phone) {
    .row {
        flex-direction: column;
        > * {
            flex: 1;
            max-width: 100%;
        }
    }

    .images-flex, .images-grid {
        justify-content: center;
    }

    .icon__large {
        width: 32px;
        height: 32px;
    }
}

img {
    max-width: 100%;
}