@import "../main.scss";

#project {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 180px;
    min-height: calc(100vh - 120px - 64px - 80px - 128px);
}

.content {
    padding-right: 0;
}

.header__content {
    margin-left: auto;
    align-self: center;
}

p {
    line-height: 1.5;
}

.page_title {
    margin-top: 16px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.d-block {
    display: block;
}

.mt-1 {
    margin-top: 16px;
}

.images-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;

    img {
        max-width: 400px;
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 16px;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
    }
}